/* SETUP SNIPPET */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* STRIPPING STYLES -----------------------------------------------*/
html,
body, 
h1, 
h2, 
h3,
p, 
a, 
ul, 
li, 
button, 
form,
label, 
input {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

li {
 list-style: none;
}

input,
button {
  border: none;
  background: none;
  cursor: pointer;
}


/* GLOBAL STYLES --------------------------------------------------*/
html {
  font-size: 62.5%;

  /* Firefox main scroll bar */
  scrollbar-color: #CCCC97 white;
  scrollbar-width: 12px;
}

/* Chrome/Edge/Safari main scroll bar  */
html *::-webkit-scrollbar {
  width: 12px;
}

html *::-webkit-scrollbar-track {
  background: white;
}
    
html *::-webkit-scrollbar-thumb {
  background-color: #CCCC97;
  border-radius: 20px;
  border: 3px solid white;
}

body {
  color: #353131;
  background-color: #fcf6f0;

  /* Firefox body/list scroll bar */
  scrollbar-color: #f0b377 white;
}

/* Chrome/Edge/Safari body/list scroll bar  */
body *::-webkit-scrollbar-thumb {
  background-color: #F0B377;
}

h1, 
h2,
h3,
label {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: clamp(6rem, 7vw, 8rem);
}

h2 {
  font-size: clamp(3rem, 5vw, 6rem);
}

h3 {
  font-size: clamp(1.8rem, 3vw, 4rem);
}

p, 
a,
input,
button {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

p,
label,
a,
button {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
}

button {
  color: #353131;
  background-color: #CCCC97;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
}

input {
  color: #353131;
  background-color: #F9F6F4;
  font-size: clamp(1.6rem, 2vw, 2.2rem);
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: auto;
}


/* HEADER STYLES ------------------------------------------------- */
header {
  background-color: #F0B377;

  text-align: center;

  height: 40vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* FORM STYLES ------------------------------------- */
main {
  padding: 60px 0;
}

.form {
  background-color: #E76155;
  box-shadow: 7px 7px 14px -3px #353131;
  border-radius: 10px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

.form h2,
label {
  font-size: clamp(2rem, 3vw, 3.2rem);
}

input {
  border-radius: 5px;
  padding: 20px 10px;
  margin: 10px 0;
}

.form h2 {
  padding: 50px 0 5px;
}

.form button {
  box-shadow: 5px 5px 10px -3px #353131;
  letter-spacing: 2px;
  border-radius: 10px;
  width: 40%;
  padding: 20px;
}

.form button:hover,
.form button:focus {
  background-color: #F0B377;
  letter-spacing: 3px;
  transition: all .4s;
}

.form button:active {
  border-radius: 10px;
  background: #F0B377;
  box-shadow: inset 5px 5px 5px #604830, 
            inset -5px -5px 5px #ffffbe;
}

.form h2, 
.form button,
.buttonFlex {
  text-transform: uppercase;
}

.buttonFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* MODAL STYLES ----------------------------------------------------- */
.modal {
  background-color: #30303090;
  width: 100%;
  height: 100%; 
  padding-top: 150px;
  position: fixed; 
  left: 0; 
  top: 0;
  bottom: 0;
  z-index: 100;
}

.modalContent {
  background-color: #F9F6F4;
  border-radius: 10px;
  padding: 30px; 
  margin: auto; 
  width: 55%;  
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modalContent h3 {
  letter-spacing: 3px;
  padding: 20px 0 10px;
}

.modalContent p {
  text-align: center;
}

.closeModal,
.removeList {
  background-color: #E76155;
  border-radius: 50%;
  width: 45px;
  position: absolute;
  top: -5px;
  left: -5px;
}

.closeModal:hover,
.closeModal:focus,
.removeList:hover,
.removeList:focus{
  transition: all .4s;
  background-color: #F0B377;
}

@keyframes animatetop {
  from {
    top: -300px; 
    opacity: 0;
  }

  to {
    top: 0; 
    opacity: 1;
  }
}


/* DISPLAYED WORDS SECTION --------------------------------------------------------- */
.displayedWords {
  background-color: #F0B377;
  box-shadow: 7px 7px 14px -3px #353131;
  border-radius: 10px;
  padding: 40px 30px;
  margin: 60px 0;
}

.displayedWords h2 {
  text-align: center;
}

.displayedWords ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.displayedWords li {
  width: calc(90% / 4);
  margin: 20px 0;
}

.displayedWords button {
  box-shadow: 5px 5px 10px -3px #353131;
  letter-spacing: 2px;
  width: 100%;
  padding: 15px 10px;
}

.displayedWords button,
.removeWord {
  border-radius: 7px;
}
 
.removeWord:hover,
.removeWord:focus,
.displayedWords button:hover,
.displayedWords button:focus {
  background-color: #E76155;
  letter-spacing: 3px;
  transition: all .4s;
}

.displayedWords button:active {
  border-radius: 7px;
  background: #E76155;
  box-shadow: inset 5px 5px 5px #5c2722, 
              inset -5px -5px 5px #ff9b88;
}


/* POEM LISTS ------------------------------------ */
.poemLists {
  margin-top: 40px;
}

.poemLists ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.poemLists li {
  width: calc(90% /3);
  height: 300px;
  overflow-y: scroll;
  background-image: url('./assets/looseLeafBckgnd.png');
  background-size: cover;
  margin-bottom: 30px;
  border: 7px solid #CCCC97;
  border-radius: 7px;
  padding: 10px;
  position: relative;
}

.poemLists li h3 {
  padding-left: 55px;
}

.words {
  padding-left: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word {
  padding: 5px 0;
}


/* FOOTER -------------------------------------------- */
footer {
  background-color: #E76155;
  text-align: center;
  line-height: 32px;
  padding: 30px 0;
}

footer a:hover,
footer a:focus {
  color: #F9F6F4;
}


/* MEDIA QUERIES --------------------------------------- */
/* Portrait tablet and small desktop */
@media(max-width: 940px){

  .modalContent {
    width: 70%;
    height: 40%;
  }

  .displayedWords li,
  .poemLists li {
    width: calc(90% / 2);
  }
}

/* Portrait tablet, landscape phones and down */
@media(max-width: 700px){

  header {
    height: 60vh;
  }

  .modalContent {
    width: 90%;
    height: 50%;
  }

  .buttonFlex {
    flex-direction: column;
  }

  .buttonFlex button {
    width: 100%;
  }

  .poemLists ul {
    justify-content: center;
  }

  .displayedWords li,
  .poemLists li {
    width: 90%;
    margin: 10px 0;
  }

  .removeList {
    width: 35px;
    height: 35px;
    font-size: 1.4rem;
  }
}