/* SETUP SNIPPET */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* STRIPPING STYLES -----------------------------------------------*/
html,
body, 
h1, 
h2, 
h3,
p, 
a, 
ul, 
li, 
button, 
form,
label, 
input, 
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

li {
 list-style: none;
}

input,
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* 
FONTS
  HEADER FONT:
  font-family: 'Josefin Sans', sans-serif;

  PARAGRAPH FONT:
  font-family: 'Lato', sans-serif;
  font-weight: 400;


COLORS:
  red: #E76155
  yellow: #F0B377
  green: #CCC97
  off-white (main background color): #fcf6f0
  font/box shadow color: #353131
  cream (form input background): #F9F6F4
*/

/* GLOBAL STYLES --------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  color: #353131;
  background-color: #fcf6f0;
}

h1, 
h2,
h3,
label {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: clamp(6rem, 7vw, 8rem);
}

h2 {
  font-size: clamp(4rem, 5vw, 6rem);
}

h3 {
  font-size: clamp(3rem, 3vw, 4rem);
}

p, 
a,
input,
button {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

p,
label,
a,
button {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
}

button {
  color: #353131;
  background-color: #CCCC97;

  font-size: 2rem;

  padding: 10px;
  margin: 10px;
}

input {
  color: #353131;
  background-color: #F9F6F4;
  font-size: clamp(1.6rem, 2vw, 2.2rem);
}

.wrapper {
  width: 80%;
  max-width: 1280;
  margin: auto;
}

/* HEADER STYLES ------------------------------------------------- */

header {
  background-color: #F0B377;

  text-align: center;

  height: 40vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FORM STYLES ------------------------------------- */

main {
  padding: 60px 0;
}

.form {
  background-color: #E76155;
  box-shadow: 7px 7px 14px -3px #353131;

  border-radius: 10px;
  padding: 40px 30px;

  display: flex;
  flex-direction: column;
}

.form h2,
label {
  font-size: clamp(2rem, 3vw, 3.2rem);
}

input {
  border-radius: 5px;
  padding: 20px 10px;
  margin: 10px 0;
}

.form h2 {
  padding: 50px 0 5px;
}

.form button {
  box-shadow: 5px 5px 10px -3px #353131;
  letter-spacing: 2px;

  border-radius: 10px;
  width: 40%;
  padding: 20px;
}

.form button:hover,
.form button:focus {
  background-color: #F0B377;
  letter-spacing: 3px;
  transition: all .4s;
}

.form button:active {
  border-radius: 10px;
  background: #F0B377;
  box-shadow: inset 5px 5px 5px #604830, 
            inset -5px -5px 5px #ffffbe;
}

.form h2, 
.form button,
.buttonFlex {
  text-transform: uppercase;
}

.buttonFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* DISPLAYED WORDS SECTION ---------- */
.displayedWords {
  background-color: #F0B377;
  box-shadow: 7px 7px 14px -3px #353131;
  border-radius: 10px;
  padding: 40px 30px;
  margin: 60px 0;
}

.displayedWords h2 {
  text-align: center;
}

.displayedWords ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.displayedWords li {
  width: calc(90% / 4);
  margin: 20px 0;
}

.displayedWords button {
  box-shadow: 5px 5px 10px -3px #353131;
  letter-spacing: 2px;
  border-radius: 7px;
  width: 100%;
  padding: 15px 10px;
}

.displayedWords button:hover,
.poemLists button:hover{
  background-color: #E76155;
  letter-spacing: 3px;
  transition: all .4s;
}

.displayedWords button:active,
.poemLists button:active{
  border-radius: 7px;
  background: #E76155;
  box-shadow: inset 5px 5px 5px #5c2722, 
            inset -5px -5px 5px #ff9b88;
}

/* POEM LISTS ------- */
.poemLists button {
  border-radius: 7px;
}

/* FOOTER ------- */
.footer {
  background-color: #E76155;
  padding: 30px 0;
  text-align: center;
  line-height: 32px;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  color: #F9F6F4;
}